* {
	margin        : 0;
	padding       : 0;
	border        : 0;
	font-size     : 100%;
	vertical-align: baseline;
	background    : transparent;
	box-sizing    : border-box;
	font-family   : 'Arial', sans-serif;

}

*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing        : border-box;
}

.error{
    color: red;
    font-weight: 400;
}

.select {
    position: relative;
    display: inline-block;
    min-width: 115px;
    width: 100%;
    max-width: 165px;
}

.flex-column .flex{
    gap: 10px;
}

.select__head {
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 18px;
    color: #444;
    cursor: pointer;
    position: relative;
}

span.balance {
    color: #c3bebe;
}

.state{
    display: block;
    box-sizing: border-box;
    margin: -6px;
    padding: 6px;
}

.select2-selection__rendered .state{
    margin: 0 0 0 -8px;
    padding: 0 0 0 6px;
    line-height: 33px;
    overflow: hidden;
}

.calcBeton .select{
    width: 100%;
    min-width: 100%;
}

.calcBeton .select__head::after{
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    display: block;
    top: 50%;
    width: 8px;
    height: 5px;
    right: 6px;
    content: "";
    z-index: 8;
}

.calcBeton .select__head.open::after{
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}

.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 5px;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #444;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}



.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}

.select__list .select__item {
    position: relative;
    border-top: 1px solid rgba(224, 229, 231, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    list-style-type: none;
}

.select__list .select__item:hover {
    background-color: rgba(224, 229, 231, 0.5);
}

.quantity {
    position: relative;
    display: inline-block;
    line-height: 40px;
  }

  .metric{
    line-height: 40px;
  }

.change_reserve{
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  color: #c3bebe;
}


.img_delivery{
    margin-top: 20px;
}

.img_delivery img{
    width: 100%;
}

  .quantity.cursor{
    cursor: none;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number]
  {
    -moz-appearance: textfield;
  }

  .quantity input {
    width: 45px;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding:  0 20px;
    text-align: center;
  }

  .CEB__table .quantity input{
    font-size: 16px;
  }

  .quantity input:focus {
    outline: 0;
  }

  .quantity.cursor .quantity-nav{
    cursor: none;
  }

  .quantity-nav {
    float: left;
    position: relative;
    height: 40px;
    cursor: pointer;
  }

  .quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    text-align: center;
    color: #444;
    font-size: 13px;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: none;
    z-index: 5;
  }

  .quantity:hover  .quantity-button{
    display: block;
  }

  .quantity.cursor:hover .quantity-button{
    display:none;
  }

  .quantity-button.quantity-down svg{
    position: absolute;
    top: 0;
  }

  .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: -2px;
  }

  .quantity-button.quantity-up svg{
    position: absolute;
    bottom: -2px;
  }

  .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
  }

.input{
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0 20px 0 8px;
    line-height: 33px;
    box-sizing: border-box;
    color: #444;
}

.input2{
    width: 149px;
}

.datetime{
    position: relative;
    display: inline-block;
}

.datetime svg{
    position: absolute;
    right: 8px;
    top: 9.5px;
}

.content{
    position: relative;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 400px;

    overflow-y: auto;
}


.datetime-popup>.CEB__row{
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-color: gray #E5E5E5;
    scrollbar-width: thin;
}

.input.hidden{
    display: none;
}

.date{
    font-weight: 700;
    margin-bottom: 10px;
}

.times{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.date-time{
    margin-bottom: 30px;
}

.time{
    position: relative;
    flex: 1 1 0px;
}

.time-span{
    display: block;
    padding: 10px;
    border-radius: 5px;
    background: #E6E6E6;
    cursor: pointer;
    text-align: center;
}

.time-span.itogo{
    background: #0094e6;
    color: #fff;
}


.bg-yellow{
    background: yellow;
}

.time-span:hover{
    background: gray;
}

.active{
    display:block;
}

.change_js{
    font-size: 16px;
}

.df {
	display  : -webkit-flex;
	display  : -moz-flex;
	display  : -ms-flex;
	display  : -o-flex;
	display  : flex;
	flex-wrap: wrap;
}

.CEB {
	max-width: 1555px;
	width    : 100%;
	margin   : 20px auto 0px;
    padding: 0;
}

.CEB-1{
    margin: 0px auto;
    height: 100%;
}


.CEB__text1 {
	font-size: 32px;
}

.CEB__text2 {
	font-size: 18px;
    line-height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex .CEB__text2{
    margin-bottom: 20px;

}

.CEB__text2 .flex{
    display: flex;
    align-items: center;
    color : #c3bebe;
    gap: 10px;

}

.CEB__text2.flex{
    display: flex;
    align-items: center;
}


button#button-modal {
    height: 30px;
}

.CEB__wrapParams1{
    display: flex;
    gap: 10px;
}

.CEB_flex{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.agent{
    display: none;
}

.agent.active{
    display: block;
}

.CEB__row {
	background-color: #ffffff;
	padding         : 12px;
	border-radius   : 12px;
}

.datetime-popup .CEB__row{
    height: 100%;
}

.CEB__wrapParams.types{
    display : flex;
    gap: 10px;
    margin-top: 30px;
}

.labelCustomRadio_type {
    border-radius: 4px;
    border: 1px solid #198dc8;
    overflow: hidden;
}

.labelCustomRadio_type.checked{
    border: 4px solid #198dc8;
}

.labelCustomRadio {
	display: flex;

	flex-wrap  : wrap;
	align-items: center;
	position   : relative;

	flex                     : 0 0 230px;
	/* min-height            : 80px; */

	border-radius         : 5px;
	background-color      : #33baff;
	/* border             : solid 1px transparent; */

	/* justify-content: space-between; */
	padding   : 0 0px;
	transition: 0.2s;
	z-index   : 25;
}

.labelCustomRadio {
	margin-top: 12px;
}

.labelCustomRadio:hover {}

.labelCustomRadio.active {}

.labelCustomRadio:hover {
	/* box-shadow: 0 0 10px 2px #77777796; */
	cursor          : pointer;
	transition      : 0.2s;
	background-color: #198dc8;
}


 .labelCustomRadio__input {
	opacity : 0;
	position: absolute;
	z-index : -1;
	left    : 7px;
}

.labelCustomRadio .labelCustomRadio__psevdo {
	flex         : 0 0 20px;
	margin       : 0 0px;
	position     : relative;
	z-index      : 15;
	display      : inline-block;
	width        : 20px;
	height       : 20px;
	background   : #fff;
	border       : solid 2px #989898;
	border-radius: 50%;
	transition   : 0.2s;
}

.labelCustomRadio .labelCustomRadio__input:checked+.labelCustomRadio__psevdo {
	background: #fff;
	border    : solid 2px #ffd450;
	transition: 0.2s;
}

.labelCustomRadio .labelCustomRadio__input:checked+.labelCustomRadio__psevdo::before {
	content      : '';
	position     : absolute;
	left         : 3px;
	top          : 3px;
	background   : #ffd450;
	width        : 10px;
	height       : 10px;
	border-radius: 50%;
	transition   : 0.2s;
}

.labelCustomRadio .labelCustomRadio__psevdo_border {
	/* border             : solid 1px #ecf1f7; */
	position           : absolute;
	width              : calc(100% + 2px);
	height             : calc(100% + 2px);
	z-index            : 5;
	left               : -1px;
	top                : -1px;
	transition         : 0.2s;
	border-radius      : 5px;
	/* background-color: #ecf1f7; */
}

.labelCustomRadio .labelCustomRadio__input:hover~.labelCustomRadio__psevdo_border {
	transition            : 0.2s;
	/* background-color   : #e4ebf3; */
	/* border             : solid 2px #62ba0f; */
}


.labelCustomRadio .labelCustomRadio__input:checked~.labelCustomRadio__psevdo_border {
	/* border             : solid 2px #62ba0f; */
	transition   : 0.2s;
	/* box-shadow: 0 0 2px 2px #62ba0f; */
	background-color: #198dc8;
}

.labelCustomRadio .labelCustomRadio__text2 {
	font-size         : 18px;
	flex              : 1 0 100%;
	color             : rgb(255, 255, 255);
	position          : relative;
	z-index           : 11;
	/* min-height     : 50px; */
	display           : flex;
	justify-content   : center;
	align-items       : center;
	text-align        : center;
	padding           : 8px 8px;
	font-weight       : 400;
	letter-spacing    : 1px;
}

.labelCustomRadio .labelCustomRadio__input:hover~.labelCustomRadio__text2,
.labelCustomRadio:hover>.labelCustomRadio__text2 {
	transition: 0.2s;
	color     : rgb(255, 255, 255);
}

.labelCustomRadio .labelCustomRadio__input:checked~.labelCustomRadio__text2 {
	color     : #fff;
	transition: 0.2s;
}

.CEB.CEB-1.CEB-2 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.CEB-2>.CEB__row{
    flex-basis: 33%;
    margin-bottom: 0;
}

.flex{
    gap: 10px;
    min-width: 0;
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    flex-grow: 0;
    gap: 10px;
    justify-content: space-between;
}

.column:first-of-type{
    flex-grow: 2;
}





.submit{
    line-height: 28px;
}

.select{
    min-width: 0;
}


.flex-row{
    display:flex;
    flex-direction: row;
    gap:10px;

}



.CEB-2 .flex{
    flex-direction: column;
    flex-basis: 33%;
}

.CEB-2 .flex>.CEB__row{
    margin-bottom: 0;
}

.CEB__wrapSlider {
	flex      : 1 0 100%;
	max-width : 100%;
	margin-top: 12px;
}

.CEB_block{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.CEBQuestionW__wrap-answer-input-rande {
	flex              : 0 0 100%;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow        : 0 1px 1px rgba(0, 0, 0, .05);
	width             : calc(99% - 0px);
	margin-left       : 2px
}

.CEBQuestionW__input-range {
	width: 100%
}

.CEBQuestionW__slider {
	margin          : 10px 0 0;
	margin-bottom   : 12px;
	cursor          : pointer;
	height          : 4px;
	color           : #fff;
	border-radius   : 100px;
	position        : relative;
	z-index         : 50;
	text-align      : left;
	background-color: #ecf1f7
}

.CEBQuestionW__slider span {
	font-weight     : 400;
	color           : #454545;
	top             : -7px;
	margin-left     : -.6em;
	position        : absolute;
	z-index         : 2;
	width           : 18px;
	height          : 18px;
	cursor          : pointer;
	-ms-touch-action: none;
	touch-action    : none;
	border-radius   : 100%;
	background-color: #33baff;
	outline         : none;
	transition      : background .2s
}

.CEBQuestionW__slider span:hover,
.CEBQuestionW__slider span.ui-state-active {
	background: #198dc8;
	outline   : none;
	transition: background .2s
}

.ui-slider-handle:after {
	content         : '';
	display         : inline-block;
	width           : 10px;
	height          : 10px;
	position        : absolute;
	top             : 50%;
	left            : 50%;
	margin-top      : -5px;
	margin-left     : -5px;
	background-color: #fff;
	border-radius   : 50%
}

.CEBQuestionW__slider .ui-slider-range {
	background   : #198dc8;
	height       : 100%;
	border-radius: 100px
}

.CEBQuestionW__input-rande-text {
	font-size  : 18px;
    line-height: 27px;
	color      : rgba(0, 0, 0, .8);
	font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CEB__wrapData {
	display        : flex;
	justify-content: space-between
}

.CEB__Data {
	font-size  : 13px;
	color      : #333;
	position   : relative;
	margin-left: 0;
	flex       : 0 0 20px;
	text-align : center
}

.CEB__Data:after {
	content         : "";
	content         : none;
	position        : absolute;
	z-index         : 20;
	width           : 2px;
	height          : 10px;
	top             : -13px;
	background-color: #ecf1f7
}

.CEB__Data:first-child:after {
	left: calc(50% + 0px)
}

.CEB__Data:not(:first-child):after {
	left: calc(50% + 13px)
}

.CEB__table {
	width          : 100%;
	border         : 1px solid #dddddd;
	border-collapse: collapse;
}

.CEB__table td{
	border    : 1px solid #dddddd;
	padding   : 8px 5px;
	font-size : 16px;
	text-align: center;
    vertical-align: middle;
}

td .flex{
    justify-content: space-between;
}

.CEB__table td:first-child {
	text-align: left;
    white-space: nowrap;

}

.CEB__table tr:first-child td {
	background-color: #e0e0e0;
	font-size       : 16px;
	font-weight     : 700;
	white-space     : pre;
}

.sum tr:first-child td {
	background-color: transparent;
	font-size       : 16px;
	font-weight     : normal;
	white-space     : pre;
}
.sum tr:last-child td {
	font-size  : 16px;
	font-weight: normal;
}

.sum th, td{
	border    : 1px solid #dddddd;
}

.sum{
    width: auto;
}

.CEB__table tr:last-child td {
	font-size  : 16px;
	font-weight: 700;
}

.CEB__select_color {
	border-radius: 4px;
	cursor       : pointer;
    text-indent: 5px;
}

.CEB__select_color  option{
    font-size: 16px;
}
.tabs {
    display: flex;
    gap: 10px;
}

.tabs .tab-link {
    display: block;
    background: #33baff;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}

.tabs .tab-link:hover{
    background-color: #198dc8;
}

.tab-link.active{
    background-color: #198dc8;
}

.tab-content{
    display: none;
}

.tab-content.active{
    display: block;
}

input[type="number"]{
    width: 80px;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

.preloader.active{
    display: flex;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0;
    height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {

    line-height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
}

.select2-results__option{
    white-space: nowrap;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.select2.select2-container{
    min-width: 200px;
    max-width: 300px !important;
}

.column:not(:first-child) .select2.select2-container{
    min-width: 100%;
    max-width: 100%;
}

.deliveryPlannedMoment{
    width: 100%;
}

.delivery{
    width: 300px;
}

.deliveryTn{
    display:flex;
    flex-wrap: nowrap;
    gap: 10px;
}

@media only screen and (max-width : 1473px) {

    .deliveryTn{
        flex-direction: column;
    }

    .column:first-child .select2.select2-container{
        min-width: 100%;
        max-width: 100%;
    }

    .select2.select2-container{
        min-width: 100%;
        max-width: 100%;
    }

    .CEB__wrapContent{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .flex .CEB__text2 {
        margin-bottom: 0;
    }

    .lg\:flex {
        display: none;
    }

    .lg\:hidden {
        display: flex;
    }


    .result{
        display:none;
    }

    .flex-column .flex {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .columns{
        flex-direction: column;
    }

    .CEB__wrapSlider{
        display: none;
    }

    .CEB_block{
        flex-direction: column;
    }

    .input{
        flex-basis: 100%;
        width: 100%;
    }

    .select2.select2-container{
        width: 100% !important;
    }


    .flex{
        display:  column;
    }

	.CEB {
		max-width: 700px;
	}

    .CEB.CEB-1.CEB-2{
        flex-direction: column;
    }

	.CEB__wrapTable {
		overflow-x: scroll;
    }

    .times{
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }
}

@media only screen and (max-width : 991px) {

    .CEB__wrapParams1{
        flex-direction: column;
    }

    .CEB__wrapParams1 .labelCustomRadio{
        flex: 0 0 50px;
    }


}

@media only screen and (max-width : 767px) {}

@media only screen and (max-width : 575px) {}

@media only screen and (max-width : 480px) {}

@media only screen and (max-width : 375px) {}

* {
	outline: solid red 0px;
}
